<!-- BLOCK 1 -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
   
  <div class="container-fluid">

    <!-- BLOCK 2 -->
    <!-- Brand and toggle button get grouped for better mobile display -->
    <a class="navbar-brand" href="/">Home</a>
    <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- BLOCK 3 -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a href="/ftoc" class="nav-link">F to C</a>
        </li>
        <li class="nav-item">
          <a href="/ctof" class="nav-link">C to F</a>
        </li>
        <li class="nav-item">
          <a href="/mtokm" class="nav-link">Mi to Km</a>
        </li>
        <li class="nav-item">
          <a href="/counting" class="nav-link">Count</a>
        </li>
      </ul>      
    </div> <!-- class="collapse navbar-collapse" -->
  </div> <!-- class="container-fluid" -->
</nav>